.meta_div_codes, .meta_div_codes select, .meta_div_codes p, .meta_div_codes input[type="number"]{width: 100%;}

.meta_div_codes p{margin-bottom: 8px;margin-top: 8px;}

.meta_div_codes p label{font-weight: bold;}

.meta_div_codes p select{margin: 3px 0px 15px 0px;} 